.partner{
    padding: 80px;
    color: white;
}

@media screen and (max-width: 450px){
    .partner{
        padding: 40px;
        color: white;
    }
}

.partner-title{
    font-size: 42px;
}

.partner-content{
    font-size: 20px;
    margin: 20px 0 50px 0;
}