.service-row{
    margin-top: 20px;
}

.service-title{
    text-align: center;
    font-size: 46px;
    margin: 20px 0 50px 0;

}

.title{
    font-size: 32px;
    margin: 30px 0;
}

.service-content{
    font-size: 20px;
    text-align: left;
}

.icon{
    margin-right: 10px;
}

.action{
    margin-top: 30px;
}